* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  margin: 30px;
}

.calendar__container {
  display: grid;
  position: absolute;
  top: 83px;
  left: 40px;
  width: fit-content;
  height: fit-content;
  grid-template-columns: repeat(52, 1fr);
  grid-template-rows: repeat(80, 1fr);
  gap: 2px;
  margin: 30px;
}

.calendar__block {
  width: 8px;
  height: 8px;
  border: 1px solid grey;
  font-size: 0.5rem;
  color: rgb(223, 221, 221);
}

.passedSinceBirthday {
  background-color: rgb(255, 148, 148);
}

.beforeBirthday {
  background-color: grey;
}

.title {
  display: inline-block;
  position: relative;
  top: 10px;
  left: 39px;
  width: 8px;
  font-size: 0.3rem;
  margin: 1px;
  text-align: center;
}

.title--year {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 9px;
  left: 29px;
  height: 9px;
}
